.h1 {
  font-size: 62px;
}

.mainbox {
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  background-color: black;
  color: goldenrod;
  width: 32rem;
  z-index: 2;
  position: absolute;
  text-align: center;
}

.header {
  z-index: 3;
  justify-content: center;
}

.header.logo {
  padding: 5em;
}

.button {
  border-color: goldenrod;
  color: goldenrod;
  background-color: black;
  margin-top: 3vh;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  height: fit-content;
  width: 20vh;
  border-radius: 10px;
  border-width: 5px;
  font-size: 16px;
  font-family: inherit;
  font-weight: bold;
}

.button:hover {
  border-color: yellow;
  color: yellow;
}

.button:disabled {
  border-color: gray;
  color: gray;
}
