.stat-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: goldenrod;
  color: black;
  height: 65px;
  width: 65px;
  border-radius: 10px;
}

.radio-input {
  display: none;
}

.radio-input:checked + .stat-box {
  background-color: black;

  color: yellow;
  border: yellow;
  border-style: inset;
  border-width: 0.25em;
}

.stat-box:hover {
  background-color: yellow;
  cursor: pointer;
}

/* .stat-box:focus { */
/* .stat-box:focus {
  background-color: black;

  color: yellow;
  border: yellow;
  border-style: inset;
  border-width: 0.25em;
} */

.stat-box h2 {
  margin: auto;
}
.stat-box h3 {
  margin: auto;
}
