.selection-box .radio-input {
  display: none;
}

.selection-box .radio-input:checked + .label {
  background-color: yellow;
}

.label {
  font: inherit;
  font-size: 24px;
  font-weight: bold;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0.5em;
  padding-right: 0.5em;

  background: goldenrod;
  color: black;
  height: fit-content;
  width: fit-content;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
}

.label:hover {
  background: yellow;
  cursor: pointer;
}

.label:focus {
  background-color: yellow;
}

.button {
  border-color: goldenrod;
  color: goldenrod;
  background-color: black;
  margin-top: auto;
  margin-bottom: 3vh;
  margin-right: 1.5vh;
  height: fit-content;
  width: 20vh;
  border-radius: 10px;
  border-width: 5px;
  font-size: 16px;
  font-family: inherit;
  font-weight: bold;
}

.button:hover {
  border-color: yellow;
  color: yellow;
}
