.item-list {
  margin-top: 0;
  margin-right: 0;
  width: 50%;
  height: 30em;
  overflow-y: auto;
  overflow-x: auto;
}

.h3 {
  width: 100%;
  background-color: black;
  padding: 1em;
}

.item-table {
  table-layout: fixed;
  color: goldenrod;
  margin-bottom: 50px;
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  position: sticky;
  top: 0;
  background: black;
  font-size: large;
  font-weight: bold;
  margin: 0;
  height: 100%;
  width: 100%;
}

.weight-display {
  position: absolute;
  bottom: 4em;
  right: 2em;
  background-color: black;
  width: fit-content;
}
