.item-list {
  width: 50%;
  height: 30em;
  overflow-y: auto;
  overflow-x: auto;
}

.item-table {
  color: goldenrod;
  margin-bottom: 50px;
  width: 100%;
}

.table-header {
  position: sticky;
  top: 0;
  background: black;
}

.weight-display {
  position: absolute;
  bottom: 4em;
  right: 2em;
  background-color: black;
  width: fit-content;
}
