.item-list {
  /* display: flexbox;
    flex: 1; */

  width: 50%;
  height: 30em;
  overflow-y: auto;
  overflow-x: auto;
}

.item-table {
  color: goldenrod;
  margin-bottom: 50px;
  width: 100%;
}

.table-header {
  position: sticky;
  top: 0;
  background: black;
}
